body {
    margin: 0 auto;
    padding-top: 20px;
    width:100%;
    max-width: 1024px;
    max-height: 2048px;
    text-align: center;
    font-size : 16pt;
    font-family: 'Sriracha', cursive;
    background-image: url(Desk.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: 2000px;
    background-repeat: no-repeat;
}

span.bold {
    font-weight : bold;
}

h1 {
    font-weight : bolder;
    font-size : 22pt;
}

.slide p {
    display:none;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

kbd {
    padding: 0.2em 0.4em;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

ul {
    text-align: left;
}

ol {
    text-align: left;
}

.bbcode_code {
    text-align: left;
    direction: ltr;
    overflow: auto;
    background: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 6px;
}

h3 {
    font-weight : bolder;
    font-size : 28pt;
}

.photo {
    width: 200px;
    height: 250px;
}